@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./utilities.scss";
@import "./loaders.scss";
@import "./mixins.scss";

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.text{
  @include themed(){
    color: _('text');
    transition: color .5s ease;

  }
}

.bg{
  @include themed(){
    background-color: _('bg');
    &-card{
      background-color: _('bg-card');
      transition: background-color .5s ease;
  }
  }
    transition: background-color .5s ease;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  &:not(:placeholder-shown) {
    &:valid {
      border: 1px solid $success;
    }
    &:invalid {
      border: 1px solid $danger;
    }
  }
}

form:invalid button[type="submit"] {
  filter: grayscale(1);
  pointer-events: none;
}

// .border-primary-secondary{
//   $border: 2px;
//   position: relative;
// 	background: #fff;

// 	/*The background extends to the outside edge of the padding. No background is drawn beneath the border.*/
// 	background-clip: padding-box;

// 	border: solid $border transparent;

// 	&:before {
// 		content: "";
// 		position: absolute;
// 		top: 0;
// 		right: 0;
// 		bottom: 0;
// 		left: 0;
// 		z-index: -1;
// 		margin: -$border; /* same as border width */
// 		border-radius: inherit; /* inherit container box's radius */
// 		background: linear-gradient(to top, $primary, $secondary);
// 	}
// }